
@{
    ViewData["Title"] = "IndividualReport";
}

    <div class="jumbotron align-items-center" style="text-align: center">

        @foreach (var course in Model)
        {
            <table border="1" width="100%" cellpadding="15" style="margin-bottom: 3%">
                <thead>
                    <tr>
                        <th colspan="@course.ColumnNames.Count">Course Name : @course.CourseName</th>
                    </tr>
                    <tr>
                        @foreach (var column in course.ColumnNames)
                        {
                            <th>@column</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var internStudent in course.InternNameAndScores)
                    {
                        <tr>
                            @foreach (var item in internStudent)
                            {
                                <td>
                                    @item
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Back</a>
    </div>

